@{
    ViewData["Title"] = "Home Page";
}


<button onclick="window.location='@Url.Action("StandartFormulas", "Home")'">Стандартные формулы</button>
<button onclick="window.location='@Url.Action("UrnaFormulas", "Home")'">Урновая модель</button>
